header {
    display: flex;
    flex-direction: row;
    width: 80%;
    /* background-color: aqua; */
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.199);
    margin-bottom: 10px;
}

header .titulo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 50%;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

header .titulo img {
    width: 15%;
    border-radius: 20px;

}

.nav-var {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}


.nav-var ul {
    justify-content: space-evenly;
    /* background-color: red; */
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-var ul .item {
    cursor: pointer;
    font-size: 25px;
    transition: all ease 0.5s;
}

.nav-var ul .item:hover {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.user {
    color: white;
    font-size: 25px;
    border-radius: 10px;
    background-color: #7DBBC3;
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    transition: all ease 0.5s;
}

.user:hover {
    background-color: white;
    border: 1px solid gray;
    color: #7DBBC3;
    border-radius: 10px;
    font-size: 25px;
}











@media (max-width: 1024px) {
    header {
        width: 95%;
        padding: 10px 0;
        /* flex-wrap: wrap; */
        justify-content: space-between;
    }

    header .titulo {
        width: 50%;
        font-size: 10px;
        gap: 10px;
        margin-bottom: 10px;
    }

    header .titulo img {
        width: 22%;
    }

    .nav-var {
        width: 50%;
    }

    .nav-var ul {
        width: 100%;
        gap: 15px;
    }

    .nav-var ul .item {
        font-size: 20px;
    }

    .user {
        font-size: 20px;
        padding: 6px 12px;
    }
}


@media (max-width: 1024px) {
    header {
        width: 100%;
        padding: 10px 0;
        /* flex-wrap: wrap; */
        justify-content: space-between;
    }

    header .titulo {
        width: 50%;
        gap: 10px;
        margin-bottom: 10px;
        display: flex;
    }

    header .titulo img {
        width: 25%;
    }

    .nav-var {
        width: 50%;
    }

    .nav-var ul {
        width: 100%;

        gap: 15px;
    }

    .nav-var ul .item {
        font-size: 20px;
    }

    .user {
        font-size: 20px;
        padding: 6px 12px;
    }
}

@media (max-width: 768px) {
    header {
        width: 100%;
        justify-content: space-between;
        padding: 10px;
        /* flex-wrap: wrap; */
    }

    header .titulo {
        width: 45%;
        gap: 10px;
    }

    header .titulo img {
        width: 25%;
    }

    .nav-var {
        width: 50%;
        justify-content: flex-end;
    }

    .nav-var ul {
        width: 100%;

        gap: 10px;
        /* flex-wrap: wrap; */
    }

    .nav-var ul .item {
        font-size: 20px;
    }

    .user {
        font-size: 16px;
        padding: 5px 10px;
    }
}

@media (max-width: 480px) {
    header {
        width: 100%;
        padding: 8px;
        flex-wrap: wrap;
    }

    header .titulo {
        width: 100%;
        gap: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    header .titulo img {
        width: 30%;
    }

    .nav-var {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }

    .nav-var ul {
        gap: 6px;
        width: 100%;
        display: flex;
        justify-content: space-between;

    }

    .nav-var ul .item {
        font-size: 20px;
    }

    .user {
        font-size: 14px;
        padding: 4px 8px;
    }
}